{% extends 'base/base.html' %}
{% load custom_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col l6 offset-l3 s12" style="margin-top: 30px;">
            <h3 class="center-align" style="margin-bottom: 15px;">{{ username|handle_admin }} 대여 등록</h3>
            <form method="POST" name="clubSchedule" action="/BorrowSubmit/">
                {% csrf_token %}
                <p class="center-align red-text" style="margin-bottom: 7px">일정의 시작 날짜/시간 및 끝 날짜/시간을 선택해주세요
                    <br>끝 날짜/시간은 시작 날짜/시간 이후여야 합니다</p>
                <div class="col s12 input-field">
                    <input type="text" class="autocomplete" name="teamname" maxlength="254" id="id_team" style="-webkit-box-shadow: 0 0 0 1000px white inset;">
                    <label for="id_username">대여 대상</label>
                </div>
                <input type="hidden" name="club" value="{{ username }}">
                <div class="col l6 s12 input-field">
                    <input type="text" id="id_date" name="date" class="datepicker">
                    <label for="date" class="active">
                        희망 날짜(시작)
                    </label>
                </div>
                <div class="col l6 s12 input-field">
                    <input type="text" id="id_time" name="time" class="timepicker">
                    <label for="date" class="active">
                        희망 시간(시작)
                    </label>
                </div>
                <div class="col l6 s12 input-field">
                    <input type="text" id="id_date" name="date" class="datepicker">
                    <label for="date" class="active">
                        희망 날짜(끝)
                    </label>
                </div>
                <div class="col l6 s12 input-field">
                    <input type="text" id="id_time" name="time" class="timepicker">
                    <label for="date" class="active">
                        희망 시간(끝)
                    </label>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align" style="margin-top: 5px;">
            <a class="waves-effect waves-light hoverable btn-small" href="{% url 'timetable' %}">돌아가기</a>
            <button class="waves-effect waves-light blue hoverable btn-small" type="submit" name="action" onclick="javascript:_submit();">적용
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>
<script>
    function _submit() {
        if (!document.getElementsByName("date")[0].value) {
            alert("시작 날짜를 입력해주세요");
            return;
        }
        if (!document.getElementsByName("time")[0].value) {
            alert("시작 시간을 입력해주세요");
            return;
        }
        if (!document.getElementsByName("date")[1].value) {
            alert("끝 날짜를 입력해주세요");
            return;
        }
        if (!document.getElementsByName("time")[1].value) {
            alert("끝 시간을 입력해주세요");
            return;
        }
        if (!document.getElementsByName("club")[0].value) {
            alert("띠용; 로그인 에러. 새로고침 해주세요.");
            return;
        }
        document.clubSchedule.submit();
    }
</script> {% endblock %}