{% extends 'base/base.html' %} 
{% block content %}
<div class="container" id="main-container">
    <div class="row" id="sub-container">
        {% if form.errors %}
            <h3 class="center-align" style="margin-bottom: 0 auto;">비밀번호 변경</h3>
            <p class="center-align red-text" style="margin-bottom: 30px">이전 비밀번호가 일치하지 않습니다.</p>
        {% else %}
            <h3 class="center-align" style="margin-bottom: 30px">비밀번호 변경</h3>
        {% endif %}
        <form method="post" style="margin-bottom: 50px;">
            {% csrf_token %} {{ form.as_p }}
            <div class="row">
                <div class="col s12 center-align" style="margin-top: 20px;">
                    <a class="button green half" href="/timetable/">돌아가기</a>
                    <button class="button blue half" type="submit" name="action" onclick="javascript:_submit();">적용</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}