{% extends 'base/base.html' %} 
{% block content %}
<div class="container">
    <div class="col l6 offset-l3 s12" style="margin-top: 50px;">
         {% if form.errors %}
            <h3 class="center-align" style="margin-bottom: 0 auto;">비밀번호 변경</h3>
            <p class="center-align red-text" style="margin-bottom: 30px">이전 비밀번호가 일치하지 않습니다.</p>
        {% else %}
            <h3 class="center-align" style="margin-bottom: 30px">비밀번호 변경</h3>
        {% endif %}
        <form method="post" style="margin-bottom: 50px;">
            {% csrf_token %} {{ form.as_p }}
            <button class="waves-effect waves-light blue hoverable btn" type="submit">변경사항 저장</button>
        </form>
    </div>
</div>
{% endblock %}