{% extends "base.html" %} 

{% load i18n static %} 

{% block head_title %}{% trans "모여락 시간표" %}{% endblock %} 

{% block tab_id %}id="home_tab"{% endblock %} 

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script> 
{% endblock %} 

{% block body %}
<div id="calendar" style="max-width:900px;margin:40px auto;">
    <script type='text/javascript'>
        $(document).ready(function () {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                header: {
                    left: 'today prev,next agendaWeek,agendaFourDay',
                    center: 'title',
                    right: 'clubButton,logout',
                },
                footer: {
                    left: 'stayAwake',
                },
                views: {
                    agendaFourDay: {
                        type: 'agenda',
                        duration: { days: 5 },
                    },
                },
                customButtons: {
                    clubButton: {
                        text: '전체 시간표 보기',
                        click: function () {
                            location.href = '{% url 'timetable' %}';
                        }
                    },
                    logout: {
                        text: '로그아웃',
                        click: function () {
                            location.href = '{% url 'logout' %}';
                        }
                    },
                    stayAwake: {
                        text: '철야 등록',
                        click: function () {
                            location.href = '{% url 'stayAwake' %}';
                        }
                    },
                },
                defaultView: 'agendaWeek',
                allDaySlot: false,
                // allDayText: '오전 우선권\n(드럼, 합주)',
                aspectRatio: 0.797,
                // nowIndicator: true,
                eventTextColor: '#fff',
                minTime: "06:00:00",
                maxTime: "30:00:00",
                firstDay: 1,
                businessHours: {
                    dow: [0, 1, 2, 3, 4, 5, 6],
                    start: '12:00',
                    end: '30:00',
                },
                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
                dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
                buttonText: {
                    today: "오늘",
                    month: "월별",
                    week: "주별",
                    listWeek: "리스트",
                    day: "일별",
                    agendaFourDay: "5일",
                },
                // put your options and callbacks here
                events: '/schedule/api/occurrences?calendar_slug=MYR'
            })

        });
    </script>
</div>

{% endblock %}