{% extends "base.html" %}

{% load i18n static %}

{% block head_title %}{% trans "모여락 시간표" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
{% endblock %}

{% block extra_list %}
<li><a href="/timetable/"><i class="material-icons left">home</i>메인</a></li>
{% endblock %}

{% block body %}
<div id="calendar" style="max-width:1200px;margin:40px auto;">
    <script type='text/javascript'>
        $(document).ready(function () {
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                header: {
                    left: 'title',
                    center: '',
                    right: 'agendaWeek,agendaFiveDay,agendaThreeDay prev,next today',
                },
                footer: {
                    right: 'prev,next',
                },
                views: {
                    agendaFiveDay: {
                        type: 'agenda',
                        duration: { days: 5 },
                    },
                    agendaThreeDay: {
                        type: 'agenda',
                        duration: { days: 3 },
                    },
                },
                windowResize: function (view) {
                    if (612 < $(window).width() && $(window).width() < 818) {
                        $('#calendar').fullCalendar('changeView', 'agendaFiveDay');
                    }
                    else if ($(window).width() < 612) {
                        $('#calendar').fullCalendar('changeView', 'agendaThreeDay');
                    }
                    else {
                        $('#calendar').fullCalendar('changeView', 'agendaWeek');
                    }
                },
                eventClick: function (calEvent) {
                    var remove;
                    {% if user.username == '모여락admin' %}
                    remove = confirm(calEvent.title + '\n시작: ' + calEvent.start.format('YYYY-MM-DD HH:mm:SS')
                        + '\n끝: ' + calEvent.end.format('YYYY-MM-DD HH:mm:SS') + '\n\n이 일정을 삭제하시겠습니까?');
                    if (remove) {
                        var form = document.createElement("form");
                        form.setAttribute("method", "Post");
                        form.setAttribute("action", '/DeleteEvent/');

                        var hiddenField1 = document.createElement("input");
                        hiddenField1.setAttribute("type", "hidden");
                        hiddenField1.setAttribute("name", "title");
                        hiddenField1.setAttribute("value", calEvent.title);
                        var hiddenField2 = document.createElement("input");
                        hiddenField2.setAttribute("type", "hidden");
                        hiddenField2.setAttribute("name", "start");
                        hiddenField2.setAttribute("value", calEvent.start.format('YYYY-MM-DD HH:mm:SS'));
                        var hiddenField3 = document.createElement("input");
                        hiddenField3.setAttribute("type", "hidden");
                        hiddenField3.setAttribute("name", "end");
                        hiddenField3.setAttribute("value", calEvent.end.format('YYYY-MM-DD HH:mm:SS'));
                        var hiddenField4 = document.createElement("input");
                        hiddenField4.setAttribute("type", "hidden");
                        hiddenField4.setAttribute("name", 'csrfmiddlewaretoken');
                        hiddenField4.setAttribute("value", '{% csrf_token %}');
                        var hiddenField5 = document.createElement("input");
                        hiddenField5.setAttribute("type", "hidden");
                        hiddenField5.setAttribute("name", 'username');
                        hiddenField5.setAttribute("value", '{{ user.username }}');

                        form.appendChild(hiddenField1);
                        form.appendChild(hiddenField2);
                        form.appendChild(hiddenField3);
                        form.appendChild(hiddenField4);
                        form.appendChild(hiddenField5);

                        document.body.appendChild(form);
                        form.submit();
                        // 삭제 제출 페이지로 이동; 미구현
                    }
                    else {
                        // alert("넌 잘하고이써 헷갈릴때면");
                        return false;
                    }
                    {% else %}
                    alert(calEvent.title + '\n시작: ' + calEvent.start.format('YYYY-MM-DD HH:mm:SS')
                            + '\n끝: ' + calEvent.end.format('YYYY-MM-DD HH:mm:SS'));
                    {% endif %}
                },
                defaultView: 'agendaWeek',
                allDaySlot: false,
                // allDayText: '오전 우선권\n(드럼, 합주)',
                aspectRatio: 1.04,
                // nowIndicator: true,
                eventTextColor: '#fff',
                minTime: "06:00:00",
                maxTime: "30:00:00",
                firstDay: 1,
                businessHours: {
                    dow: [0, 1, 2, 3, 4, 5, 6],
                    start: '12:00',
                    end: '30:00',
                },
                monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
                dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
                buttonText: {
                    today: "오늘",
                    month: "월별",
                    week: "주별",
                    listWeek: "리스트",
                    day: "일별",
                    agendaFiveDay: "5일",
                    agendaThreeDay: "3일",
                },
                // put your options and callbacks here
                events: '/schedule/api/occurrences?calendar_slug=MYR'
            })

        });
    </script>
</div>

{% endblock %}