{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 s12" style="margin-top: 65px;">
                <h3 class="center-align" style="margin-bottom: 30px;">화요뜨락 시간대 설정</h3>
                <form method="POST" name="timeform" action="/submit/">
                    {% csrf_token %}
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">schedule</i>
                            공용시간 (6:00~12:00) 드럼 및 합주 우선권
                            <span class="new badge" data-badge-caption="개 항목">7</span>
                        </div>
                        <div class="collapsible-body">
                            <!--form method="POST" name="morningform" action="/submit1/"-->
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!--/form-->
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">wb_sunny</i>
                            1 타임 (12:00~18:00)
                            <span class="new badge" data-badge-caption="개 항목">7</span>
                        </div>
                        <div class="collapsible-body">
                            <!--form method="POST" name="afternoonform" action="/submit2/"-->
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monAft" onClick="javascript:checkOnly(this);" value="2"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!--/form-->
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">brightness_3</i>
                            2 타임 (18:00~24:00)
                            <span class="new badge" data-badge-caption="개 항목">7</span>
                        </div>
                        <div class="collapsible-body">
                            <!--form method="POST" name="eveningform" action="/submit3/"-->
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!--/form-->
                        </div>
                    </li>
                </ul>
                </form>
                <div class="row" style="margin-top: 20px;">
                    <div class="col s12">
                        <div class="form-row right-align">
                            <button class="waves-effect waves-light blue hoverable btn" type="submit" name="action" onclick="javascript:_submit();">적용
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkOnly(chk) {

            var obj = document.getElementsByName(chk.getAttribute("name"));

            for (var i = 0; i < obj.length; i++) {
                if (obj[i] != chk) {
                    obj[i].checked = false;
                }
            }
        }
        function _submit() {
            //document.morningform.submit();
            //document.afternoonform.submit();
            document.timeform.submit();
        }
    </script>
{% endblock %}
