{% extends 'base/base.html' %}
{% block extra_head %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 s12" style="margin-top: 65px;">
                <h3 class="center-align" style="margin-bottom: 30px;">화요뜨락 시간대 설정</h3>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">schedule</i>
                            공용시간 (6:00~12:00) 드럼 및 합주 우선권
                            <span class="new badge" data-badge-caption="개 항목">7</span>
                        </div>
                        <div class="collapsible-body">
                            <form>
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">wb_sunny</i>
                            1 타임 (12:00~18:00)
                            <span class="new badge" data-badge-caption="개 항목">7</span>
                        </div>
                        <div class="collapsible-body">
                            <form>
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">brightness_3</i>
                            2 타임 (18:00~24:00)
                            <span class="new badge" data-badge-caption="개 항목">7</span>
                        </div>
                        <div class="collapsible-body">
                            <form>
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" />
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </li>
                </ul>
                <div class="row" style="margin-top: 20px;">
                    <div class="col s12">
                        <div class="form-row right-align">
                            <button class="waves-effect waves-light blue hoverable btn" type="submit" name="action">설정
                                <i class="material-icons right">send</i>
                            </button>
                            <input type="hidden" name="next" value="/timetable/">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
