{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3 s12" style="margin-top: 65px;">
                <h3 class="center-align" style="margin-bottom: 30px;">화요뜨락 시간대 설정</h3>
                <form method="POST" name="timeform" action="/submit/">
                    {% csrf_token %}
                <ul class="collapsible popout">
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">schedule</i>
                            공용시간 (6:00~12:00) 드럼 및 합주 우선권
                            <span class="new badge" id="morningVar" data-badge-caption="개 남음"></span>
                        </div>
                        <div class="collapsible-body">
                            <!--form method="POST" name="morningform" action="/submit1/"-->
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunMor" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunMor" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunMor" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!--/form-->
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">wb_sunny</i>
                            1 타임 (12:00~18:00)
                            <span class="new badge" id="afternoonVar" data-badge-caption="개 남음"></span>
                        </div>
                        <div class="collapsible-body">
                            <!--form method="POST" name="afternoonform" action="/submit2/"-->
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monAft" onClick="javascript:checkOnly(this);" value="2"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunAft" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunAft" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunAft" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!--/form-->
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">brightness_3</i>
                            2 타임 (18:00~24:00)
                            <span class="new badge" id="eveningVar" data-badge-caption="개 남음"></span>
                        </div>
                        <div class="collapsible-body">
                            <!--form method="POST" name="eveningform" action="/submit3/"-->
                                <table class="centered">
                                    <tbody>
                                        <tr>
                                            <td>월요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="monEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>화요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="tueEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>수요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="wedEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>목요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="thuEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>금요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="friEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>토요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="satEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>일요일</td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunEve" onClick="javascript:checkOnly(this);" value="LFDM"/>
                                                    <span>악의꽃</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunEve" onClick="javascript:checkOnly(this);" value="MMGE"/>
                                                    <span>막무간애</span>
                                                </label>
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" name="sunEve" onClick="javascript:checkOnly(this);" value="MYR"/>
                                                    <span>모여락</span>
                                                </label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            <!--/form-->
                        </div>
                    </li>
                </ul>
                </form>
                <div class="row" style="margin-top: 20px;">
                    <div class="col s12">
                        <div class="form-row right-align">
                            <button class="waves-effect waves-light blue hoverable btn" type="submit" name="action" onclick="javascript:_submit();">적용
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var mVar = 7;
        var aVar = 7;
        var eVar = 7;
        document.getElementById("morningVar").innerHTML = mVar;
        document.getElementById("afternoonVar").innerHTML = aVar;
        document.getElementById("eveningVar").innerHTML = eVar;

        function checkOnly(chk) {

            var obj = document.getElementsByName(chk.getAttribute("name"));
            var cnt = 0;
            var mon, tue, wed, thu, fri, sat, sun;

            for (var i = 0; i < obj.length; i++) {
                if (obj[i] != chk) {
                    obj[i].checked = false;
                }
            }

            if (chk.name == "monMor" || chk.name == "tueMor" || chk.name == "wedMor" || chk.name == "thuMor" || chk.name == "friMor" || chk.name == "satMor" || chk.name == "sunMor"){                    
                mon = document.getElementsByName("monMor");
                tue = document.getElementsByName("tueMor");
                wed = document.getElementsByName("wedMor");
                thu = document.getElementsByName("thuMor");
                fri = document.getElementsByName("friMor");
                sat = document.getElementsByName("satMor");
                sun = document.getElementsByName("sunMor");

                for(var i=0; i<3; i++) {
                    if (mon[i].checked){
                        cnt++;
                    }
                    if (tue[i].checked) {
                        cnt++;
                    }
                    if (wed[i].checked) {
                        cnt++;
                    }
                    if (thu[i].checked) {
                        cnt++;
                    }
                    if (fri[i].checked) {
                        cnt++;
                    }
                    if (sat[i].checked) {
                        cnt++;
                    }
                    if (sun[i].checked) {
                        cnt++;
                    }
                }
                mVar = 7-cnt;
                document.getElementById("morningVar").innerHTML = mVar;
            }
            else if (chk.name == "monAft" || chk.name == "tueAft" || chk.name == "wedAft" || chk.name == "thuAft" || chk.name == "friAft" || chk.name == "satAft" || chk.name == "sunAft") {
                mon = document.getElementsByName("monAft");
                tue = document.getElementsByName("tueAft");
                wed = document.getElementsByName("wedAft");
                thu = document.getElementsByName("thuAft");
                fri = document.getElementsByName("friAft");
                sat = document.getElementsByName("satAft");
                sun = document.getElementsByName("sunAft");

                for (var i = 0; i < 3; i++) {
                    if (mon[i].checked) {
                        cnt++;
                    }
                    if (tue[i].checked) {
                        cnt++;
                    }
                    if (wed[i].checked) {
                        cnt++;
                    }
                    if (thu[i].checked) {
                        cnt++;
                    }
                    if (fri[i].checked) {
                        cnt++;
                    }
                    if (sat[i].checked) {
                        cnt++;
                    }
                    if (sun[i].checked) {
                        cnt++;
                    }
                }
                aVar = 7 - cnt;
                document.getElementById("afternoonVar").innerHTML = aVar;
            }
            else if (chk.name == "monEve" || chk.name == "tueEve" || chk.name == "wedEve" || chk.name == "thuEve" || chk.name == "friEve" || chk.name == "satEve" || chk.name == "sunEve") {
                mon = document.getElementsByName("monEve");
                tue = document.getElementsByName("tueEve");
                wed = document.getElementsByName("wedEve");
                thu = document.getElementsByName("thuEve");
                fri = document.getElementsByName("friEve");
                sat = document.getElementsByName("satEve");
                sun = document.getElementsByName("sunEve");

                for (var i = 0; i < 3; i++) {
                    if (mon[i].checked) {
                        cnt++;
                    }
                    if (tue[i].checked) {
                        cnt++;
                    }
                    if (wed[i].checked) {
                        cnt++;
                    }
                    if (thu[i].checked) {
                        cnt++;
                    }
                    if (fri[i].checked) {
                        cnt++;
                    }
                    if (sat[i].checked) {
                        cnt++;
                    }
                    if (sun[i].checked) {
                        cnt++;
                    }
                }
                eVar = 7 - cnt;
                document.getElementById("eveningVar").innerHTML = eVar;
            }
        }
        function _submit() {
            var form = document.timeform
            var monMor = false, tueMor = false, wedMor = false, thuMor = false, friMor = false, satMor = false, sunMor = false; 
            var monAft = false, tueAft = false, wedAft = false, thuAft = false, friAft = false, satAft = false, sunAft = false;
            var monEve = false, tueEve = false, wedEve = false, thuEve = false, friEve = false, satEve = false, sunEve = false;
            // 오전 오후 저녁
            for(var i=0; i<3; i++){
                monMor = monMor || form.monMor[i].checked;
                tueMor = tueMor || form.tueMor[i].checked;
                wedMor = wedMor || form.wedMor[i].checked;
                thuMor = thuMor || form.thuMor[i].checked;
                friMor = friMor || form.friMor[i].checked;
                satMor = satMor || form.satMor[i].checked;
                sunMor = sunMor || form.sunMor[i].checked;

                monAft = monAft || form.monAft[i].checked;
                tueAft = tueAft || form.tueAft[i].checked;
                wedAft = wedAft || form.wedAft[i].checked;
                thuAft = thuAft || form.thuAft[i].checked;
                friAft = friAft || form.friAft[i].checked;
                satAft = satAft || form.satAft[i].checked;
                sunAft = sunAft || form.sunAft[i].checked;

                monEve = monEve || form.monEve[i].checked;
                tueEve = tueEve || form.tueEve[i].checked;
                wedEve = wedEve || form.wedEve[i].checked;
                thuEve = thuEve || form.thuEve[i].checked;
                friEve = friEve || form.friEve[i].checked;
                satEve = satEve || form.satEve[i].checked;
                sunEve = sunEve || form.sunEve[i].checked;
            }
            if (!monMor) {
                alert("월요일 아침 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!tueMor) {
                alert("화요일 아침 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!wedMor) {
                alert("수요일 아침 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!thuMor) {
                alert("목요일 아침 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!friMor) {
                alert("금요일 아침 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!satMor) {
                alert("토요일 아침 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!sunMor) {
                alert("일요일 아침 시간에 지정된 동아리가 없습니다.");
                return;
            }

            if (!monAft) {
                alert("월요일 오후(1타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!tueAft) {
                alert("화요일 오후(1타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!wedAft) {
                alert("수요일 오후(1타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!thuAft) {
                alert("목요일 오후(1타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!friAft) {
                alert("금요일 오후(1타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!satAft) {
                alert("토요일 오후(1타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!sunAft) {
                alert("일요일 오후(1타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }

            if (!monEve) {
                alert("월요일 저녁(2타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!tueEve) {
                alert("화요일 저녁(2타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!wedEve) {
                alert("수요일 저녁(2타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!thuEve) {
                alert("목요일 저녁(2타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!friEve) {
                alert("금요일 저녁(2타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!satEve) {
                alert("토요일 저녁(2타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            if (!sunEve) {
                alert("일요일 저녁(2타임) 시간에 지정된 동아리가 없습니다.");
                return;
            }
            document.timeform.submit()
        }
    </script>
{% endblock %}
