{% extends "base_timetable.html" %}


{% load i18n static %}

{% block head_title %}{% trans "화요뜨락 시간표" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script src="https://kit.fontawesome.com/990b446ac1.js" crossorigin="anonymous"></script>

{% endblock %}

{% block extra_list %}
{% if user.username == '악의꽃' or user.username == '악의꽃admin' %}
    <li><a href="/clubTimetable/"><i class="material-icons left">dashboard</i>악의꽃시간표</a></li>
    {% elif user.username == '막무간애' or user.username == '막무간애admin' %}
    <li><a href="/clubTimetable/"><i class="material-icons left">dashboard</i>막무간애시간표</a></li>
    {% elif user.username == '모여락' or user.username == '모여락admin' %}
    <li><a href="/clubTimetable/"><i class="material-icons left">dashboard</i>모여락시간표</a></li>
    {% elif user.username == 'admin' %}
    <li><a href="{% url 'admin:index' %}"><i class="material-icons left">build</i>관리자페이지</a></li>
    <li><a href="{% url 'setTime' %}"><i class="material-icons left">schedule</i>시간설정</a></li>
{% endif %}
{% endblock %}

{% block body %}
<script type='text/javascript'>
var isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ? true : false;
var headerJSON = {
    left: 'title',
    center: '',
    right: 'prev,next today',
}
if($(window).width() < 950) {
    headerJSON = {
        left: 'hiddenMenu title',
        center: '',
        right: 'agendaWeek,agendaFiveDay prev,next today',
    }
}
    
$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        header: headerJSON,
        views: {
            agendaFiveDay: {
                type: 'agenda',
                duration: { days: 5 },
            },
        },
        customButtons: {
            hiddenMenu: {
                icon: 'fa fas fa-bars',
                click: function() {
                    alert('clicked the custom button!');
                  }
                }
        },
        eventClick: function (calEvent) {
            alert(calEvent.title + '\n시작: ' + calEvent.start.format('YYYY-MM-DD HH:mm:SS')
            + '\n끝: ' + calEvent.end.format('YYYY-MM-DD HH:mm:SS'));
        },
        /* Several options */
        defaultView: $(window).width() >= 818 ? 'agendaWeek':'agendaFiveDay',
        allDaySlot: false,
        height: $(window).height()*0.90 < 915 ? $(window).height()*0.90 : 915,
        // nowIndicator: true,
        eventTextColor: 'rgba(255, 255, 255, 1)',
        // Time option; put 25~ to indicate next dawn
        minTime: "06:00:00",
        maxTime: "30:00:00",
        firstDay: 1,
        titleFormat: 'YYYY년 MMMM',
        timeFormat: 'h(:m)',
        slotLabelFormat: 'h',
        columnHeaderHtml: function(mom) {
            return '<span class="c1">' + mom.format('ddd') + '</span><br>' + '<span class="c2">' + mom.format('D') + '</span>';
        },
        /* Language : ko */
        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
        dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
        buttonText: {
            today: "오늘",
            month: "월별",
            week: "주별",
            listWeek: "리스트",
            day: "일별",
            agendaFiveDay: "5일",
            agendaThreeDay: "3일",
        },
        /* EVENT SOURCE: MOST IMPORTANT */
        events: '/schedule/api/occurrences?calendar_slug=DEFAULT'
    })
});
</script>

{% endblock %}
