{% extends "base.html" %}


{% load i18n static %}

{% block head_title %}{% trans "화요뜨락 시간표" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<link rel='stylesheet' type='text/css' href="{% static 'fullcalendar/dist/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'fullcalendar/dist/fullcalendar.js' %}"></script>
<style>
    .fc-event {
        opacity: .78;
        border: 0;
        border-radius: 0;
    }
    .fc-unthemed th,
    .fc-unthemed td,
    .fc-unthemed thead,
    .fc-unthemed tbody,
    .fc-unthemed .fc-divider,
    .fc-unthemed .fc-row,
    .fc-unthemed .fc-content,
    .fc-unthemed .fc-popover,
    .fc-unthemed .fc-list-view,
    .fc-unthemed .fc-list-heading td {
      border-color: #bbb; }

    .fc-unthemed .fc-divider,
    .fc-unthemed .fc-popover .fc-header,
    .fc-unthemed .fc-list-heading td {
      background: #bbb; }
</style>
{% endblock %}

{% block extra_list %}
{% if user.username == '악의꽃' or user.username == '악의꽃admin' %}
    <li><a href="/LFDMtimetable/"><i class="material-icons left">dashboard</i>악의꽃시간표</a></li>
    {% elif user.username == '막무간애' or user.username == '막무간애admin' %}
    <li><a href="/MMGEtimetable/"><i class="material-icons left">dashboard</i>막무간애시간표</a></li>
    {% elif user.username == '모여락' or user.username == '모여락admin' %}
    <li><a href="/MYRtimetable/"><i class="material-icons left">dashboard</i>모여락시간표</a></li>
    {% elif user.username == 'admin' %}
    <li><a href="{% url 'admin:index' %}"><i class="material-icons left">build</i>관리자페이지</a></li>
    <li><a href="{% url 'setTime' %}"><i class="material-icons left">schedule</i>시간설정</a></li>
{% endif %}
{% endblock %}

{% block body %}
<div id="calendar" style="max-width:1200px;margin:40px auto;">
<script type='text/javascript'>
$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        /* buttons */
        header: {
            left: 'title',
            center: '',
            right: 'agendaWeek,agendaFiveDay,agendaThreeDay prev,next today',
        },
        footer: {
            right: 'prev,next',
        },
        views: {
            agendaFiveDay: {
                type: 'agenda',
                duration: { days: 5 },
            },
            agendaThreeDay: {
                type: 'agenda',
                duration: { days: 3 },
            },
        },
        windowResize: function (view) {
            if (612 < $(window).width() && $(window).width() < 818) {
                $('#calendar').fullCalendar('changeView', 'agendaFiveDay');
            }
            else if($(window).width() < 612) {
                $('#calendar').fullCalendar('changeView', 'agendaThreeDay');
            }
            else {
                $('#calendar').fullCalendar('changeView', 'agendaWeek');
            }
        },
        eventClick: function (calEvent) {
            alert(calEvent.title + '\n시작: ' + calEvent.start.format('YYYY-MM-DD HH:mm:SS')
            + '\n끝: ' + calEvent.end.format('YYYY-MM-DD HH:mm:SS'));
        },
        /* Several options */
        defaultView: $(window).width() >= 818 ? 'agendaWeek':'agendaFiveDay',
        allDaySlot: false,
        // allDayText: '오전 우선권\n(드럼, 합주)',
        aspectRatio: 1.04,
        // nowIndicator: true,
        eventTextColor: '#fff',
        // Time option; put 25~ to indicate next dawn
        minTime: "06:00:00",
        maxTime: "30:00:00",
        firstDay: 1,
        businessHours: {
            dow: [0, 1, 2, 3, 4, 5, 6],
            start: '12:00',
            end: '30:00',
        },

        /* Language : ko */
        monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
        dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
        dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
        buttonText: {
            today: "오늘",
            month: "월별",
            week: "주별",
            listWeek: "리스트",
            day: "일별",
            agendaFiveDay: "5일",
            agendaThreeDay: "3일",
        },

        /* EVENT SOURCE: MOST IMPORTANT */
        events: '/schedule/api/occurrences?calendar_slug=DEFAULT'
    })

});
</script>
</div>

{% endblock %}
