{% load i18n static %}
{% load custom_tags %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <!--  font  -->
        <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
        <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Song+Myung&display=swap" rel="stylesheet">
        <!--        -->
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href="{% static 'base.css' %}" />
        <link rel='stylesheet' type='text/css' href="{% static 'calendar.css' %}" />
        <script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "schedule.js" %}"></script>
        <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        <main>
            <input type="checkbox" id="hiddeninput">
            <input type="checkbox" id="hiddenmodal">
            <div id="sidemenu">
                <div class="user-menu">
                    {% if user.is_active %}
                        {% if user|has_group:"users" %}
                            <h1>{{ user.username }}</h1>
                        {% elif user|has_group:"admins" %}
                            <h1>{{ user.username|handle_admin }}</h1><i class="material-icons flip">build</i>
                        {% else %}
                            <h1>관리자</h1><i class="material-icons flip">build</i>
                        {% endif %}
                    {% else %}
                        <h1>어서오세요!</h1>
                    {% endif %}
                </div>
                {% if user.is_active %}
                    <div class="menu-idx1">
                        {% if user|has_group:"users" or user|has_group:"admins" %}
                        <div class="menu-btn" onclick="location.href='{% url 'clubView' %}'">
                            <h2>
                                {% if user|has_group:"users" %} 
                                <i class="material-icons left">dashboard</i>{{ user.username }}시간표
                                {% elif user|has_group:"admins" %}
                                <i class="material-icons left">dashboard</i>{{ user.username|handle_admin }}시간표
                                {% endif %}
                            </h2>
                        </div>
                        <div class="menu-btn" onclick="location.href='{% url 'timetable' %}'">
                            <h2>
                                <i class="material-icons left">home</i>전체시간표
                            </h2>
                        </div>
                        {% else %}
                        <div class="menu-btn" onclick="location.href='{% url 'admin:index' %}'">
                            <h2>
                                <i class="material-icons left">build</i>관리자페이지
                            </h2>
                        </div>
                        <div class="menu-btn" onclick="location.href='{% url 'setTime' %}'">
                            <h2>
                                <i class="material-icons left">schedule</i>시간설정
                            </h2>
                        </div>
                        {% endif %}
                    </div>
                    {% if user|has_group:"admins" %}
                    <div class="menu-idx2">
                        <div class="menu-btn" onclick="location.href='{% url 'stayAwake' %}'">
                            <h2>
                                <i class="material-icons left">brightness_3</i>철야신청
                            </h2>
                        </div>
                        <div class="menu-btn" onclick="location.href='{% url 'individualTimeSet' %}'">
                            <h2>
                                <i class="material-icons left">schedule</i>시간설정
                            </h2>
                        </div>
                        <div class="menu-btn" onclick="location.href='{% url 'Borrow' %}'">
                            <h2>
                                <i class="material-icons left">reply</i>대여등록
                            </h2>
                        </div>
                    </div>
                    {% endif %}
                    {% if user|has_group:"admins" %}
                    <div class="menu-idx3">
                    {% else %}
                    <div class="menu-idx2">
                    {% endif %}
                        <div class="menu-btn" onclick="location.href='{% url 'logout' %}?next=/timetable'">
                            <h2>
                                <i class="material-icons left">exit_to_app</i>로그아웃
                            </h2>
                        </div>
                        <br/>
                        <div class="menu-btn" onclick="location.href='{% url 'change_password' %}'">
                            <h2>
                                <i class="material-icons left">vpn_key</i>비밀번호 변경
                            </h2>
                        </div>
                    </div>
                {% else %}
                <div class="menu-idx1">
                    <div class="menu-btn" onclick="location.href='{% url 'login' %}'">
                        <h2>
                            <i class="material-icons left">account_circle</i>로그인
                        </h2>
                    </div>
                    <div class="menu-btn">
                        <label for="hiddenmodal">
                                <i class="material-icons left">help_outline</i>도움말
                        </label>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="modal-container">
                <div class="modal-window">
                    <label for="hiddenmodal"></label>
                    <div class="modal-article">
                        <h1>화요뜨락 시간표</h1>
                        <p>
                            화요뜨락은 성균관대 자연과학캠퍼스 학생회관에 위치한 공연 및 합주시설입니다. 악의꽃, 막무간애, 모여락 동아리가 사용 및 관리하고 있으며, 공연 목적으로 대여가 가능합니다.
                            
                        </p>
                    </div>
                </div>
                <label for="hiddenmodal"></label>
            </div>
            <label for="hiddeninput" id="background"></label>
            <div id="calendar">
                {% block body %} {% endblock %}
            </div>
            
            <script>
                /* dynamically set calendar options */
                if(calendar) {
                    $(window).resize(function() {
                        var calHeight = $(window).height()*0.9;
                        var height = calHeight < 915 ? calHeight : 915;
                        var headerJSON;
                        $('#calendar').fullCalendar('option', 'height', height);
                        if($(window).width() <= 600) {
                            headerJSON = {
                                left: 'hiddenMenu title agendaWeek,agendaFiveDay,prev,next',
                                center: '',
                                right: '',
                            };
                            $('#calendar').fullCalendar('option', 'header', headerJSON);
                        }
                        else if($(window).width() < 950) {
                            headerJSON = {
                                left: 'hiddenMenu title',
                                center: '',
                                right: 'agendaWeek agendaFiveDay prev,next',
                            };
                            $('#calendar').fullCalendar('option', 'header', headerJSON);
                        }
                        else {
                            headerJSON = {
                                left: 'title',
                                center: '',
                                right: 'agendaWeek agendaFiveDay prev,next today',
                            }
                            $('#calendar').fullCalendar('option', 'header', headerJSON);
                        }
                    });
                };
            </script>
        </main>
        <footer>
            © 2018-2019 JK Shin, Les Fleurs Du Mal
        </footer>
</html>
