{% load i18n static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% if site_name %}{{ site_name }} : {% endif %}{% block head_title %}{% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
        <link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous">
        <script type="text/javascript" src="{% static "jquery/dist/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "jquery-ui/jquery-ui.min.js" %}"></script>
        <script type="text/javascript" src="{% static "bootstrap/dist/js/bootstrap.js" %}"></script>
        <script type="text/javascript" src="{% static "schedule.js" %}"></script>
        <link rel="stylesheet" href="{% static "schedule.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "jquery-ui/themes/base/all.css" %}" type="text/css" media="screen">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <link rel="icon" href="http://mblogthumb1.phinf.naver.net/20160923_68/by267_14745891820048o1gY_JPEG/%BC%BA%B1%D5%B0%FC%B4%EB%C7%D0%B1%B3%B7%CE%B0%ED-02.jpg?type=w800">
        {% block extra_head %}
        {% endblock %}
    </head>
    <style>
        body{
            font-family: 'Nanum Gothic', sans-serif;
        }
        #full-calendar {
            padding-top: 30px;
        }
        #calendar h2 {
            font-size: 2.5rem;
            line-height: 35px;
            margin-bottom: 20px;
        }
        .fc button {
            background: #fff;
        }
        .fc-state-active,
        .fc-state-down {
            color: #e85660 !important;
        }
        .fc-event {
            color: #fff;
        }
        a:link {text-decoration:none;}
        a:visited {text-decoration:none;}
        a:active {text-decoration:none;}
        a:hover {text-decoration:none; color:#fff;}
    </style>
    </head>

    <body>
        <header>
            <div class="navbar-fixed">
                <nav>
                    <ul id="dropdown" class="dropdown-content">
                        {% if user.username == '악의꽃admin' or user.username == '막무간애admin' or user.username == '모여락admin'%}
                            <li><a href="{% url 'stayAwake' %}"><i class="material-icons">brightness_3</i>철야신청</a></li>
                            <li><a href="{% url 'individualTimeSet' %}"><i class="material-icons left">schedule</i>시간설정</a></li>
                            <li><a href="{% url 'Borrow' %}"><i class="material-icons left">reply</i>대여등록</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i>로그아웃</a></li>
                            <li><a href="{% url 'change_password' %}"><i class="material-icons left">vpn_key</i>비번변경</a></li>
                        {% elif user.username == '악의꽃' or user.username == '막무간애' or user.username == '모여락'%}
                            <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i>로그아웃</a></li>
                            <li><a href="{% url 'change_password' %}"><i class="material-icons left">vpn_key</i>비번변경</a></li>
                        {% elif user.username == 'admin' %}
                            <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i>로그아웃</a></li>
                            <li><a href="{% url 'change_password' %}"><i class="material-icons left">vpn_key</i>비번변경</a></li>
                        {% endif %}
                    </ul>
                    <div class="nav-wrapper">
                        <a href="#" data-target="slide-out" class="sidenav-trigger">
                            <i class="material-icons">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                            {% if user.is_active %}
                            {% block extra_list %}

                            {% endblock %}
                            <li>
                                <a class="dropdown-trigger" href="#!" data-target="dropdown">{{ user.username }}&nbsp; <i class="material-icons right">arrow_drop_down</i></a>
                            </li>
                            {% else %}
                            <li><a href="{% url 'login' %}"><i class="material-icons left">account_circle</i>로그인</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
            <ul class="sidenav" id="slide-out">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="https://www.vactualpapers.com/web/wallpapers/colorful-material-design-qhd-wallpaper-15/3500x3500.png">
                        </div>
                        <a href="#!user">
                            <img class="circle" src="http://conservationunited.org/wp-content/uploads/2016/02/empty-profile-600x590.jpg">
                        </a>
                        <a href="#!name">
                            {% if user.is_active %}
                            <span class="white-text name">{{ user.username }}</span>
                            {% else %}
                            <span class="white-text name">Guest</span>
                            {% endif %}
                        </a>
                        <a href="#!email">
                            <span class="white-text email"></span>
                        </a>
                    </div>
                </li>
                {% if user.username == '악의꽃' or user.username == '악의꽃admin' %}
                    <li><a class="subheader">시간표</a></li>
                    <li><a href="/LFDMtimetable/"><i class="material-icons left">dashboard</i>악의꽃시간표</a></li>
                    <li><a href="/timetable/"><i class="material-icons left">home</i>전체시간표</a></li>
                {% elif user.username == '막무간애' or user.username == '막무간애admin' %}
                    <li><a href="/MMGEtimetable/"><i class="material-icons left">dashboard</i>막무간애시간표</a></li>
                    <li><a href="/timetable/"><i class="material-icons left">home</i>전체시간표</a></li>
                {% elif user.username == '모여락' or user.username == '모여락admin' %}
                    <li><a href="/MYRtimetable/"><i class="material-icons left">dashboard</i>모여락시간표</a></li>
                    <li><a href="/timetable/"><i class="material-icons left">home</i>전체시간표</a></li>
                {% elif user.username == 'admin' %}
                    <li><a class="subheader">관리자</a></li>
                    <li><a href="{% url 'admin:index' %}"><i class="material-icons left">build</i>관리자페이지</a></li>
                    <li><a href="{% url 'setTime' %}"><i class="material-icons left">schedule</i>시간설정</a></li>
                {% endif %}
                <li class="divider"></li>
                {% if user.username == '악의꽃admin' or user.username == '막무간애admin' or user.username == '모여락admin'%}
                    <li><a class="subheader">철야 및 시간 설정</a></li>
                    <li><a href="{% url 'stayAwake' %}"><i class="material-icons">brightness_3</i>철야신청</a></li>
                    <li><a href="{% url 'individualTimeSet' %}"><i class="material-icons left">schedule</i>시간설정</a></li>
                    <li class="divider"></li>
                    <li><a class="subheader">계정</a></li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i>로그아웃</a></li>
                    <li><a href="{% url 'change_password' %}"><i class="material-icons left">vpn_key</i>비밀번호 변경</a></li>
                {% elif user.username == '악의꽃' or user.username == '막무간애' or user.username == '모여락'%}
                    <li><a class="subheader">계정</a></li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i>로그아웃</a></li>
                    <li><a href="{% url 'change_password' %}"><i class="material-icons left">vpn_key</i>비밀번호 변경</a></li>
                {% elif user.username == 'admin' %}
                    <li><a class="subheader">계정</a></li>
                    <li><a href="{% url 'logout' %}"><i class="material-icons left">exit_to_app</i>로그아웃</a></li>
                    <li><a href="{% url 'change_password' %}"><i class="material-icons left">vpn_key</i>비번변경</a></li>
                {% endif %}
                {% if not user.is_active %}
                    <li><a href="{% url 'login' %}"><i class="material-icons left">account_circle</i>로그인</a></li>
                {% endif %}
            </ul>
        </header>
        <main>
            <div>
                {% block body %} {% endblock %}
            </div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                        var elems = document.querySelectorAll('.sidenav');
                        var instances = M.Sidenav.init(elems);
                    });
                document.addEventListener('DOMContentLoaded', function () {
                        var elems = document.querySelectorAll('.dropdown-trigger');
                        var instances = M.Dropdown.init(elems);
                    });
                $(document).ready(function () {
                    $(".button-collapse").sideNav();
                    $(".collapsible").collapsible();
                    $(".dropdown-trigger").dropdown();
                })
                $(".dropdown-content>li>a").css("color", '#767676');

            </script>
        </main>
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text left-align">About DDrak Calendar</h5>
                        <p class="grey-text text-lighten-4">
                            화요뜨락 시간관리용 캘린더입니다.
                        </p>
                        <h5 class="white-text left-align">Github Link</h5>
                        <a class="grey-text text-lighten-3" href="https://github.com/shinjawkwang/DDrakCalendar.git">
                            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text left-align">Developer contact</h5>
                        <div class="row">
                            <div class="col l3 s3">
                                <a class="grey-text text-lighten-3" href="mailto:shinjawkwang@naver.com">
                                    <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> E-mail</a>
                            </div>
                            <div class="col l3 s3">
                                <a class="grey-text text-lighten-3" href="https://www.instagram.com/jkpraha">
                                    <i class="fa fa-instagram fa-2x"></i> Instagram</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2018 Powered by 2017 SKKU Software department JK Shin, Les Fleurs Du Mal
                </div>
            </div>
        </footer>
        <!--script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</html>
