@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) {html{font-size:16px;}}

/* basic */
* {
    font-family: 'Spoqa Han Sans', 'sans-serif';
    /*font-family: 'Noto Serif KR', serif;*/
}
html {
    width: 100%;
    height: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fefefe;
    width: 100%;
    height: 100%;
}
main {
    flex: 1 0 auto;
    width: 100%;
    height: 80%;
}
#footer {
    color: #777;
    font-size: 12px;
    padding-right: 0.2%;
    padding-top: 0.8em;
    text-align: right;
}
.container {
    margin: 10% auto !important;
}

/* sidemenu */
#sidemenu {
    float: left;
    margin: 3%;
    width: 18%;
    min-height: 1200px;
    position: fixed;
}

.menu-btn h2, 
.menu-btn label {
    cursor: pointer;
    width: 100%;
    margin: 0;
    font-size: 1.5rem;
    float: left;
    text-align: left;
    padding: 2% 5%;
    color: #424242;
}
.menu-btn h2:hover,
.menu-btn label:hover {
    background-color: #f2f2f2;
}
.user-menu, 
.menu-idx1, 
.menu-idx2, 
.menu-idx3 {
    margin: 3%;
    max-width: 400px;
    width: 100%;
    position: absolute;
}
.menu-idx1, 
.menu-idx2, 
.menu-idx3 {
    background-color: #ffffff;
    border-radius: 8px;
    border-color: #eeeeee;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}
.user-menu {
    left: 0; top: 0;
    width: 100%;
}
.user-menu h1 {
    font-size: 4rem;
    float: left;
    margin: 0;
    font-family: 'Song Myung' !important;
}
.flip {
    font-size: 15px !important;
    padding-top: 0.3em;
    /*
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    */
}
.menu-idx1 {
    left: 0; top: 100px;
}
.menu-idx2 {
    left: 0; top: 200px;
}
.menu-idx3 {
    left: 0; top: 337px;
}

/* hidden menu on mobile and modal */
input#hiddeninput,
input#hiddenmodal {
    display: none;
}
#background {
    position: fixed;
    top:0; left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    transition: all .35s;
    opacity:0; visibility: hidden;
    z-index: 5;
}
input#hiddeninput:checked ~ #sidemenu {left:0;}
input#hiddeninput:checked ~ #background {opacity: 1; visibility: visible;}

input#hiddenmodal:checked ~ .modal-container {
    opacity: 1; visibility: visible;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .35s;
    opacity:0; visibility: hidden;
    z-index: 100;
}
.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #fff;
    z-index: 50;
}
.modal-window > label {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 2%;
    background-color: #dd5347;
    color: #fff;
    border-radius: 100%;
    cursor: pointer;
}
.modal-window + label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 30;
}
.modal-article {
    padding: 5%;
}
#modal-article-header h1 {
    font-family: 'Song Myung', serif !important;
    font-size: 2.5rem;
    text-align: left;
    margin-right: 0.5em;
    display: inline-block;
}
.modal-article h2 {
    font-size: 1.8rem;
    font-family: 'Song Myung';
    text-align: left;
}
.modal-article h3 {
    font-size: 1.5rem;
    font-family: 'Spoqa Han Sans', 'sans-serif';
    font-weight: 900;
    text-align: left;
}
.modal-article p {
    line-height: 1.5em;
}
#borrow-req-btn {
    background-color: #f8e318;
    color: #3c1e1e;
    padding: 0.65em 1em;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    height: 41px;
    vertical-align: text-bottom;
}
#borrow-req-btn > i {
    padding-right: 5px;
}
#borrow-req-btn > span {
    font-weight: 600;
}

/* responsive (calendar && menu) */
@media screen and (max-width: 1400px) {
    .user-menu h1 {
        font-size: 3rem !important;
    }
}
@media screen and (max-width: 1220px) {
    .user-menu h1 {
        font-size: 2.5rem !important;
    }
}
@media (min-width: 950px) {
    #calendar {
        width: 70%;
        float: right;
    }
}
@media (max-width:949px) {
    #calendar {
        margin: 3% auto !important;
        max-width: 800px;
    }
    #sidemenu{
        margin: 0;
        width: 40%;
        left: -46%;
        background-color: #fff;
        transition: all .35s;
        z-index: 10;
    }
    .user-menu {
        top: 2% !important;
        padding-left: 0.5em;
    }
    .user-menu h1 {
        font-weight: bold;
    }
    .menu-idx1, 
    .menu-idx2, 
    .menu-idx3 {
        margin: 0 !important;
        background-color: #ffffff;
        border-radius: 0px;
        border-top: 1px solid;
        border-color: #eeeeee;
        box-shadow: 0 0 0 0;
    }
    .fc-toolbar {
        padding: 1em;
    }
    .fc-header-toolbar {
        margin: 0 !important;
    }
}
@media (max-width: 750px) {
    #sidemenu {
        width: 80%;
        left: -86%;
    }
}
@media (max-width:600px) {
    .fc-left {
        width: 100%;    
    }
    .fc-right {
        float: left !important;
        margin-left: 15px;
        margin-top: 1.5% !important;
    }
    .fc-toolbar {
        position: relative;
    }
    .fc-button-group {
        position: absolute;
        right: 2%;
    }
}
@media (min-width: 1200px) {
    .modal-window {
        width: 50%;
    }
}
@media (max-width: 543px) {
    #modal-article-header h1 {
        margin-bottom: 2%;
        width: 100%;
    }
    #borrow-req-btn {
        font-size: 10px;
        height: auto;
        margin-bottom: 1rem;
    }
}

/* login */
@media screen and (min-width: 1100px) {
    #main-container, #time-set-container {
        border: 1px solid;
        border-color: #eeeeee;
        background-color: #ffffff;
        width: 30%;
    }
    #sub-container {
        margin: 5%;
    }
}
@media screen and (max-width: 1099px) {
    #main-container {
        margin: 40% auto;
        background-color: inherit;
        width: 80%;
    }
}
@media screen and (max-width: 405px) {
    .guest-desc {
        font-size: 12.5px;
    }
}
h3, h4 {
    font-family: 'Song Myung';
}
.button {
    width: 100%;
    border-radius: 5px;
    border: none;
    display: inline-block;
    line-height: 200%;
    color: #ffffff;
    cursor: pointer;
}
.button.blue {
    background-color: #3897f1;
}
.button.blue:focus {
    background-color: #72b6f3 !important;
}
.button.green {
    background-color: #26a69a !important;
}
.button.green:focus {
    background-color: #48c8bc !important;
}
.guest-desc {
    color: #777777;
}
.schedule-desc {
    color: #e85660 !important;
}
@media screen and (max-width: 1250px) {
    .schedule-desc {
        font-size: 13px !important;
    }    
}

.button.half {
    width: 30%;
}

/* time set : admin */
input + span {
    padding-left: 2em !important;
}
@media screen and (max-width: 385px) {input + span {font-size: 12px !important;}}
@media screen and (max-width: 600px) {#time-set-container {width: 100% !important;}}