@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) {html{font-size:16px;}}

@media (max-width:600px) {
    .fc-left {
        width: 100%;    
    }
    .fc-right {
        float: left !important;
        margin-left: 15px;
    }
}

@media (min-width: 950px) {
    #calendar {
        width: 70%;
        float: right;
    }
    #menu {
        display: none;
    }
}

@media (max-width:949px) {
    #calendar {
        margin: 3% auto !important;
        max-width: 800px;
    }
    .fc-left {
        margin-left: 7% !important;
    }
    #menu {
        position: absolute;
        top: 4%;
    }
    #sidemenu{
        display: none;
    }
}
    
body {
    line-height: 1.2;
    font-family: 'Spoqa Han Sans', 'Sans-serif' !important;
}
text {
    opacity: 1.0 !important;
    filter: none;
}
span.c1 {
    font-size: 0.5rem;
}
span.c2 {
    font-size: 2rem;
    margin-left: 2px;
}
table {
    border-collapse: separate;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:none;}
a:hover {text-decoration:none; color:#fff;}

input[id="menuicon"] {
    display: none;
}
input[id="menuicon"] + label {
    display: block;
    width: 30px;
    height: 23px;
    position: relative;
    cursor: pointer;
}
input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 20px;
    background: #000000;
    transition: all .35s;
}
input[id="menuicon"] + label span:nth-child(1) {
    top: 0;
}
input[id="menuicon"] + label span:nth-child(2) {
    top: 50%;
    transform:translateY(-50%);
}
input[id="menuicon"] + label span:nth-child(3) {
    bottom: 0;
}
input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform:translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
}
input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform:translateY(50%) rotate(-45deg);
}
input[id="menuicon"]:checked + label {
    z-index: 2;
}

#calendar {
    margin: 3%;
}
#calendar h2 {
    font-size: 1.8rem;
    line-height: 35px;
    margin-bottom: 20px;
}

#full-calendar {
    padding-top: 30px;
}
.fc-state-active,
.fc-state-down {
    color: #e85660 !important;
}
.fc-event {
    opacity: 0.78;
    border: 0;
    font-size: 0.7rem;
    color: #fff;
}
.fc-past {
    color: #9e9e9e;
}
.fc-today {
    font-weight: 100 !important;
    color: #e65660;
    /*color: #346cf2;*/
    background: #f2f2f2;
}
.fc-unthemed td.fc-today {
    background: #f2f2f2;
}
th.fc-day-header {
    text-align: left !important;
    padding-left: 10px !important;
    font-weight: 300;
}
.fc-axis {
    width: 15px !important;
}
.fc-left {
    margin-left: 20px;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: #d3d3d3;
}
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
    background: #bbb;
}
.fc button {
    padding: 0 0.3em !important;
    width: 3em;
    height: 35px;
    background: #fff;
}

.fc-time-grid .fc-slats td {
    height: 1em;
}
