@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) {html{font-size:16px;}}

body {
    line-height: 1.2;
    font-family: 'Spoqa Han Sans', 'Sans-serif' !important;
    overflow: hidden;
}
text {
    opacity: 1.0 !important;
    filter: none;
}
span.c1 {
    font-size: 0.5rem;
}
span.c2 {
    font-size: 2rem;
    margin-left: 2px;
}
table {
    border-collapse: separate;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:active {text-decoration:none;}
a:hover {text-decoration:none; color:#fff;}

#calendar {
    margin: 3%;
    height: 94%;
    z-index: 0;
}
#calendar h2 {
    font-size: 1.8rem;
    line-height: 35px;
    margin-bottom: 20px;
    margin-top: 5px;
}

#full-calendar {
    padding-top: 30px;
}
.fc-hiddenMenu-button {
    margin-top: 1% !important;
}
.fc-icon-fa {
    font-size: 1.5rem !important;
    font-family: FontAwesome !important;
}
.fc-state-active,
.fc-state-down {
    color: #e85660 !important;
}
.fc-event-container {
    margin: 0 !important;
}
.fc-event {
    opacity: 0.78;
    border: 0;
    font-size: 0.7rem;
    color: #fff;
    border-radius: 2px;
    margin: 0 !important;
}
.fc-past {
    color: #9e9e9e;
}
.fc-today {
    font-weight: 100 !important;
    color: #e65660;
    /*color: #346cf2;*/
    background-color: #f2f2f2 !important;
}

.fc-day-header {
    text-align: left !important;
    padding-left: 10px !important;
    font-weight: 300;
}
.fc-axis {
    width: 15px !important;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: #d3d3d3;
}
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
    background: #bbb;
}
.fc-toolbar h2 {
    /* title */
    line-height: 35px !important;
    margin: 0 !important;
    padding-left: 0.2em;
}
.fc button {
    padding: 0 0.4em !important;
    height: 2.5em !important;
    width: 2.5em;
    padding: 0 !important;
    background: #fff;
    z-index: 1;
    border: hidden;
    border-radius: 100% !important;
    box-shadow: 0 0 0 0;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.fc button:hover {
    background: #eeeeee;
}
.fc button:hover:before {
    -webkit-animation: spinAround 2s linear infinite;
    -moz-animation: spinAround 2s linear infinite;
    animation: spinAround 2s linear infinite;
}
.fc button:focus,
.fc-state-disabled:hover,
.fc-state-active {
    background-color: #fff !important;
}

.fc-time-grid .fc-slats td {
    height: 1em !important;
}
.fc tr {
    border-bottom-style: none !important;
    border-bottom: 0 !important;
    border-bottom-width: 0 !important;
}
.fc-minor td {
    border: 0 !important;
}
.fc-event .fc-content {
    padding-left: 3%;
    line-height: 14px;
}
.fc-short {
    width: 100%;
    left: 0 !important;
    height: fit-content;
}
.fc-short .fc-time {
    display: none !important;
}
