@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) {html{font-size:16px;}}

/*thead {
    position: fixed;
    top: 0;
}*/

.fc-event {
    opacity: 0.78;
    border: 0;
    font-size: 0.7rem;
}
.fc-past {
    color: #9e9e9e;
}
.fc-today {
    font-weight: 100 !important;
    color: #e65660;
    /*color: #346cf2;*/
    background: #f2f2f2;
}
.fc-unthemed td.fc-today {
    background: #f2f2f2;
}
th.fc-day-header {
    text-align: left;
    padding-left: 10px;
    font-weight: 80;
}
.fc-axis {
    width: 15px !important;
}
.fc-left {
    margin-left: 20px;
}
text {
    opacity: 1.0 !important;
    filter: none;
}
span.c1 {
    font-size: 0.5rem;
}
span.c2 {
    font-size: 2.2rem;
}
table {
    border-collapse: separate;
}
.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
    border-color: #d3d3d3;
}
.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header,
.fc-unthemed .fc-list-heading td {
    background: #bbb;
}
.fc button {
    width: 3.2em;
    height: 2.2em;
}
 body {
    line-height: 1.2;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Roboto,"Noto Sans KR",Helvetica,Arial,sans-serif !important;
}
 main {
   flex: 1 0 auto;
}
#calendar {
    margin: 40px auto;
    /*max-width: 1400px;*/
}
