{% extends 'base/base.html' %}

{% block extra_head %}
<style>
	* {
		font-family: 'Spoqa Han Sans', 'sans-serif';
	}
	#bye-container {
		margin-top: 10%;
    	margin-bottom: 10%;
	}
</style>
{% endblock %}

{% block content %}
<div class="container" id="bye-container">
    <div class="col l6 offset-l3 s12" id="mini-container">
        <h3 class="center-align"> 잘 가요, 안녕. </h3>
        <div class="center-align" style="margin:50px;">
            <a class="btn-large waves-effect hoverable waves-light" href="{%url 'login'%}">로그인하기</a>
            <a class="btn-large waves-effect hoverable waves-light blue" href="{% url 'timetable' %}">시간표보기</a>
        </div>
    </div>
</div>
{% endblock %}
